//* ============================ Media Breakpoint for Each Device Start ============================ */
//Mobile Landscape
@mixin landscape {
  @media all and (orientation: landscape) {
    @content;
  }
}

//Mobile Portrait
@mixin portrait {
  @media all and (orientation: portrait) {
    @content;
  }
}

//Extra Extra Small Screen
@mixin xxsm-screen {
  @media screen and (max-width: 374px) {
    @content;
  }
}

// Xtra Small
@mixin xsm-screen {
  @media screen and (max-width: 424px) {
    @content;
  }
}

// Medium Small Screen (max-width: 575)
@mixin msm-screen {
  @media screen and (max-width: 575px) {
    @content;
  }
}

//Small Screen (max-width: 767)
@mixin sm-screen {
  @media screen and (max-width: 767px) {
    @content;
  }
}

//Large Screen (max-width: 991)
@mixin md-screen {
  @media screen and (max-width: 991px) {
    @content;
  }
}

//Xtra Large Screen (max-width: 1199)
@mixin lg-screen {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

//Xtra Large Screen i (max-width: 1399)
@mixin xl-screen {
  @media screen and (max-width: 1399px) {
    @content;
  }
}

//Xtra Large Screen ii (max-width: 1499)
@mixin xxl-screen {
  @media screen and (max-width: 1599px) {
    @content;
  }
}

//Xtra Large Screen ii (max-width: 1599)
@mixin xxxl-screen {
  @media screen and (max-width: 2500px) {
    @content;
  }
}

/* ======================  Glove Effect Start  ======================*/
@mixin glove {
  position: absolute;
  width: clamp(15.625rem, 13.047rem + 12.891vw, 25.938rem);
  height: clamp(15.625rem, 13.047rem + 12.891vw, 25.938rem);
  border-radius: 50%;
  filter: blur(clamp(5.625rem, 5rem + 3.125vw, 8.125rem));
  z-index: -1;
}

@mixin glove--base {
  @include glove;
  background-color: hsl(var(--base)/ 0.16);
}

@mixin glove--base-two {
  @include glove;
  background-color: hsl(var(--base-two)/ 0.25);
}

/* ======================  Glove Effect End  ======================*/

// ============================ Media Breakpoint for Each Device End ============================