/* ====================== Breadcrumb Css Start ==================== */
.breadcrumb {
  margin-bottom: 0;
  padding-top: clamp(5rem, 3.906rem + 5.469vw, 9.375rem);
  padding-bottom: clamp(1.875rem, 0.781rem + 5.469vw, 6.25rem);
  position: relative;
  z-index: 1;
  background-color: hsl(var(--base-l-900)/0.3);
  overflow: hidden;

  &::before {
    content: '';
    @include glove--base;
    left: -5%;
    bottom: -40%;
  }

  &::after {
    content: '';
    @include glove--base-two;
    right: -5%;
    bottom: -40%;
  }

  &__wrapper {
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  &__item {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;

    &-dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    &-text {
      color: hsl(var(--base));
    }
  }

  &__link {
    font-weight: 500;

    &:hover {
      color: hsl(var(--base));
    }
  }
}

/* ====================== Breadcrumb Css End ==================== */