/* ============= Footer Start Here ======================= */
.footer {
  position: relative;
  margin-top: auto;
  z-index: 2;
  overflow: hidden;

  &::before {
    content: '';
    @include glove--base;
    left: -10%;
    bottom: -30%;
  }

  &::after {
    content: '';
    @include glove--base-two;
    right: -10%;
    bottom: -30%;
  }

  &__bg_top {
    position: absolute;
    top: -2px;
    transform: rotate(-180deg);
  }

  &__item_left {
    @include lg-screen {
      border-right: 0;
    }
  }

  .col-6 {
    @include sm-screen {
      justify-items: center;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(1.875rem, 1.563rem + 1.563vw, 3.125rem) clamp(0.625rem, 0rem + 3.125vw, 3.125rem);
  }


  &__first-item {
    max-width: rem(360px);

    @include lg-screen {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-inline: auto;
      max-width: rem(450px);
    }
  }

  &__item {

    flex: 1 1 150px;

    &:nth-child(3) {
      flex: 1 1 250px;
    }

    &:last-child {
      flex: 1 1 300px;
    }

    .social-list {
      margin-top: 30px;


      @include md-screen {
        margin-top: 20px;
      }

      @include msm-screen {
        margin-top: 15px;
      }
    }
  }



  &__logo {
    margin-bottom: 20px;

    a {
      img {
        width: 100%;
        height: 100%;
        max-width: 190px;
        max-height: 64px;
      }
    }
  }

  &__title {
    position: relative;
    margin: 0;
    width: fit-content;
    margin-bottom: clamp(1.25rem, 1.094rem + 0.781vw, 1.875rem);
    position: relative;
    font-family: var(--body-font);
    font-weight: 700;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: clamp(0.75rem, 0.547rem + 1.016vw, 1.563rem);
  }

  &__menu-item {
    display: flex;
    gap: 4px;
    position: relative;
    padding-left: 15px;

    &::before {
      content: "\f111";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      display: inline-block;
      color: hsl(var(--base));
      font-size: 8px;
    }

    &:nth-child(even) {
      &::before {
        color: hsl(var(--base-two));
      }
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:hover {
      color: hsl(var(--base-l-300));
    }
  }

  &__menu-link {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: rem(12px);
    font-size: clamp(0.875rem, 0.844rem + 0.156vw, 1rem);

    i {
      color: hsl(var(--base));
      font-size: rem(6px);
    }
  }

  &__newsletter {

    .footer__desc {
      margin-bottom: clamp(0.625rem, 0.469rem + 0.781vw, 1.25rem);
    }
  }

  &__form {
    position: relative;

    .input-group {
      background-color: hsl(var(--base)/0.05);
      border: 1px solid hsl(var(--base)/0.07);



    }

    .form-control {
      padding-right: 10px;
      

      ~button {
        background-color: hsl(var(--base-two)) !important;
        padding: var(--common-p-sm) !important;
        z-index: 1;
        border: none !important;

        i {
          color: hsl(var(--black));
          transition: 0.3s;
        }
      }

      &:focus {
        ~button {
          i {
            transform: rotate(45deg);
          }

        }
      }
    }

  }

  &__bottom {
    padding: clamp(0.625rem, 0.406rem + 1.094vw, 1.5rem);
    border-top: 1px solid hsl(var(--black)/ 0.06);

    &-text {
      font-weight: 500;
    }
  }
}

/* =============Bottom Footer End Here ======================= */