/* ================================= Button Css Start =========================== */
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  color: none;
  background-color: none;
  border-color: none;
}

.pill {
  border-radius: 40px !important;
}

.btn {
  color: hsl(var(--white)) !important;
  font-size: var(--common-f-size);
  font-weight: 700;
  padding: var(--common-p);
  border-radius: var(--common-radius);
  position: relative;
  z-index: 1;
  border: 1px solid transparent;
  font-family: var(--body-font);
  line-height: 1.5;
  display: flex !important;
  gap: 10px;
  justify-content: center;
  transition: 0.3s;
  align-items: center;
  white-space: nowrap;


  i {
    &::before {
      transition: 0.3s;
    }
  }

  &:hover,
  &:focus,
  &:focus-visible {
    box-shadow: none !important;
  }

  &:active {
    top: 1px;
  }

  &--lg {
    padding: 20px 35px;

    @include md-screen {
      padding: 18px 30px;
    }

    @include sm-screen {
      padding: 16px 25px;
    }
  }

  &--sm {
    padding: var(--common-p-sm) !important;
    border-radius: var(--b-radius-8);
    font-weight: 400;
  }

  &--icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    padding: 0;
  }
  &.btn-light--white{
    background-color: hsl(var(--white)) !important;
    color: hsl(var(--body-color)) !important;
    border-color: hsl(var(--common-b-color));

    &:hover,
    &:focus,
    &:focus-visible {
      color: hsl(var(--heading-color)) !important;
      background-color: hsl(var(--base-l-800)/ 0.5) !important;
      border: 1px solid hsl(var(--base)/ 0.5) !important;
      
    }
  }

 
  // ============= Gradient Button End =======================

  // ============= Different Color Button Start ==================
  @include btn-style(--base);
  @include btn-style(--base-two);
  @include btn-style(--primary);
  @include btn-style(--secondary);
  @include btn-style(--danger);
  @include btn-style(--success);
  @include btn-style(--warning);
  @include btn-style(--info);
  @include btn-style(--white);
}

.btn--underline {
  text-decoration: underline;
  transition: 0.3s;

  &:hover {
    color: hsl(var(--base)) !important;

  }

}

.btn--unstyle {
  position: relative;
  transition: 0.3s;
  font-size: 15px;


  &:hover {
    color: hsl(var(--base));

    &::before {
      width: 100%;
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: hsl(var(--base));
    transition: 0.3s;
  }
}

/* ================================= Button Css End =========================== */