/* ================================= Card Css Start =========================== */
.card {
    padding: clamp(1.25rem, 1.188rem + 0.313vw, 1.5rem) clamp(0.75rem, 0.563rem + 0.938vw, 1.5rem);
    border-radius: 8px;
    background-color: hsl(var(--base)/ 0.03);
    border: 1px solid hsl(var(--base)/ 0.06);
    color: hsl(var(--body-color));

    @include lg-screen {
        padding: 16px;
    }
    &.border{
        border: 1px solid hsl(var(--white)/ 0.04) !important;
        
    }

    &-header {
        padding: 12px 0;
        background-color: transparent;
        border-bottom: 1px solid hsl(var(--black)/.06);
    }

    &-title {
        margin-bottom: 0;
    }

    &-body {
        background-color: hsl(var(--white));
        padding: 24px 0;
        border-radius: 5px;
    }

    &-footer {
        padding: 12px 0;
        background-color: transparent;
        border-top: 1px solid hsl(var(--black)/.06);
    }
}

/* ================================= Card Css End =========================== */