/* ======================  Login Section Start  ======================*/
.account {
  position: relative;
  overflow: hidden;
  min-height: 100vh;

  &__inner {
    border-radius: var(--b-radius-12);
    background-color: hsl(var(--base)/0.07);
    border: 1px solid hsl(var(--base)/ 0.08);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    height: 100%;
  }
  &__thumb {
    height: 100%;

    @include md-screen {
      aspect-ratio: 3 / 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: center;
    }
  }

  &__social-log {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .btn {
      flex: 1 0 200px;
      border-color: var(--common-b-color) !important;
    }
  }

  &__title {
    margin-bottom: clamp(0.5rem, 0.469rem + 0.156vw, 0.625rem);
  }

 

  &__form {
    position: relative;
    padding-block: clamp(1.875rem, 1.406rem + 2.344vw, 3.75rem);
    padding-inline: clamp(0.938rem, 0.703rem + 1.172vw, 1.875rem);
    text-align: center;


    z-index: 3;
    height: 100%;
    border-radius: 0 !important;
  }

  &__or {
    position: relative;
    text-align: center;
    font-size: 16px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 45%;
      height: 1px;
      background: var(--common-b-color);
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .social-list {
    justify-content: center;

    &__link {
      background-color: transparent;
      color: hsl(var(--body-color));
      transition: 0.3s;

      i {
        font-size: 20px;
      }

      &:hover {
        i {
          color: hsl(var(--base-l-300));
        }
      }
    }
  }
}

/* ======================  Login Section End  ======================*/