.contact {
    position: relative;
    z-index: 2;
    --icon-size: clamp(2.5rem, 2.313rem + 0.938vw, 3.25rem);

    &__form-wrap {
        height: 100%;
    }
    .col-md-6{
        &:nth-child(even){
            .contact__item{
                background-color: hsl(var(--base-two)/ 0.1);
                border: 1px solid hsl(var(--base-two)/ 0.15);
            }
            .contact__icon{
                background-color: hsl(var(--base-two));
                i{
                    color: hsl(var(--heading-color));
                }
            }
        }
    }

    &__form {
        position: relative;
        background-color: hsl(var(--base)/0.07);
        padding-inline: clamp(0.938rem, 0.703rem + 1.172vw, 1.875rem);
        padding-block: clamp(1.25rem, 0.938rem + 1.563vw, 2.5rem);
        border: 1px solid hsl(var(--border-color));
        border-radius: var(--b-radius-12);
    }

    &__header {
        margin-bottom: clamp(1rem, 0.75rem + 1.25vw, 2rem);
    }

    &__item {
        position: relative;
        height: 100%;
        z-index: 1;
        background-color: hsl(var(--base)/ 0.07);
        border: 1px solid hsl(var(--border-color));
        backdrop-filter: blur(10px);
        padding: 30px 20px;
        border-radius: var(--b-radius-12);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:hover {
            .contact__icon {
                i {
                    animation: bounce 0.6s ease-in-out;
                }
            }
        }

    }
    &__icon {
        width: var(--icon-size);
        height: var(--icon-size);
        background-color: hsl(var(--base));
        border: 1px solid hsl(var(--white)/ 0.09);
        box-shadow: var(--box-shadow);
        border-radius: 50%;
        display: grid;
        place-items: center;
        flex-shrink: 0;
        margin-bottom: rem(16px);

        i {
            color: hsl(var(--white));
        }
    }

    &__info {
        p {
            font-size:clamp(1rem, 0.938rem + 0.313vw, 1.25rem);
            margin-bottom: clamp(0.25rem, 0.188rem + 0.313vw, 0.5rem);
        }
        span,
        a{
            font-weight: 600;
            font-size: clamp(1rem, 0.938rem + 0.313vw, 1.25rem);
            color: hsl(var(--heading-color));
        }
    }

    &__map {
        height: 100%;

        iframe {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: var(--b-radius-12);
        }
    }
}