/* ======================  Trust Start  ======================*/
.features {
    position: relative;
    z-index: 1;
    height: 100%;
    --icon-size: clamp(2.5rem, 2.344rem + 0.781vw, 3.125rem);

    .col-md-6 {
        &:nth-child(even) {
            .features__card {
                background-color: hsl(var(--base-two)/0.1);
                border: 1px solid hsl(var(--base-two)/ 0.15);

                &:hover {
                    border-color: hsl(var(--base-two)/ 0.5);
                }
            }

            .features__icon {
                background-color: hsl(var(--base-two));
            }
        }
    }

    &__card {
        background-color: hsl(var(--base)/ 0.05);
        border: 1px solid hsl(var(--base)/ 0.1);
        padding: clamp(0.875rem, 0.656rem + 1.094vw, 1.75rem);
        border-radius: var(--b-radius-16);
        height: 100%;
        transition: 0.3s;

        &:hover {
            border-color: hsl(var(--base)/ 0.3);
        }
    }

    &__icon {
        width: rem(60px);
        height: rem(60px);
        border-radius: var(--b-radius-12);
        background-color: hsl(var(--base));
        display: grid;
        place-items: center;
        margin-bottom: clamp(0.5rem, 0.375rem + 0.625vw, 1rem);

        img {
            max-width: rem(35px);
        }
    }

    &__title {
        margin-bottom: clamp(0.5rem, 0.375rem + 0.625vw, 1rem);
    }
}
/* ======================  Trust End  ======================*/