@import "banner";
@import "features";
@import "video";
@import "work-process";
@import "testimonial";
@import "blog";
@import "pricing";
@import "cta";
@import "faq";
@import "contact";
@import "account";
@import "cookie-policy";
@import "error";
@import "user-dashboard";
@import "user-profile-setting";
@import "user-create-form";