/* ======================  Pricing Start  ======================*/
.pricing {
    position: relative;
    z-index: 1;

    &__card {
        position: relative;
        padding-block: clamp(1.25rem, 1.188rem + 0.313vw, 1.5rem);
        padding-inline: clamp(0.875rem, 0.719rem + 0.781vw, 1.5rem);
        background-color: hsl(var(--base)/ 0.05);
        border: 1px solid hsl(var(--border-color));
        border-radius: var(--b-radius-20);
        position: relative;
        overflow: hidden;
        max-width: rem(400px);
        margin-inline: auto;
        z-index: 1;
        backdrop-filter: blur(10px);
        height: 100%;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: rem(130px);
            height: rem(130px);
            background-color: hsl(var(--base)/ 0.2);
            filter: blur(50px);
            transition: 0.3s;
        }

        &:hover,
        &.active {
            background-color: hsl(var(--base-two)/ 0.1);
            border-color: hsl(var(--base-two)/0.15);

            &::before {
                background-color: hsl(var(--base-two)/ 0.25);
            }

            .pricing__icon {
                background-color: hsl(var(--base-two));
                color: hsl(var(--heading-color));
            }

            .pricing__list {
                li {
                    &::before {
                        color: hsl(var(--base-two-d-100));
                    }
                }
            }


            .btn {
                background-color: hsl(var(--base-two)) !important;
                color: hsl(var(--heading-color)) !important;
                border-color: hsl(var(--base-two)) !important;
            }

        }
    }


    &__icon {
        display: grid;
        place-items: center;
        border-radius: var(--b-radius-8);
        width: rem(54px);
        height: rem(54px);
        background-color: hsl(var(--base));
        font-size: rem(30px);
        color: hsl(var(--white));
        margin-bottom: clamp(0.625rem, 0.469rem + 0.781vw, 1.25rem);
        transition: 0.3s;
    }

    &__name {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: clamp(1.5rem, 1.143rem + 0.952vw, 2rem);
        font-weight: 600;
    }

    &__desc {
        margin-bottom: clamp(0.625rem, 0.469rem + 0.781vw, 1.25rem);
    }

    &__price {
        background-color: hsl(var(--white));
        color: hsl(var(--base));
        border: 1px solid hsl(var(--base)/ 0.10);
        padding: rem(12px);
        border-radius: var(--b-radius-12);
        text-align: center;
        span {
            font-size: rem(16px);
            font-weight: 400;
        }
    }

    &__list {
        background-color: hsl(var(--white));
        border: 1px solid hsl(var(--base)/ 0.1);
        padding: clamp(0.625rem, 0.469rem + 0.781vw, 1.25rem);
        border-radius: var(--b-radius-12);
        margin-top: clamp(0.75rem, 0.563rem + 0.938vw, 1.5rem);
        display: flex;
        flex-direction: column;
        gap: clamp(0.75rem, 0.563rem + 0.938vw, 1.5rem);

        li {
            position: relative;
            padding-left: 20px;


            &::before {
                position: absolute;
                left: 3px;
                top: 8px;
                content: "\f111";
                font-family: "font Awesome 6 Free";
                font-size: 6px;
                font-weight: 900;
                margin-right: 8px;
                color: hsl(var(--base));

            }

        }
    }

    .btn {
        margin-top: clamp(0.938rem, 0.703rem + 1.172vw, 1.875rem);
    }
}

/* ======================  Pricing End  ======================*/