/* ======================  Testimonial Start  ======================*/
.testimonial {
  position: relative;
  --icon-size: clamp(2.188rem, 2.031rem + 0.781vw, 2.813rem);

  &__inner {
    position: relative;
  }

  .swiper-slide {
    &:nth-child(even) {
      .testimonial__card {
        background-color: hsl(var(--base-two)/0.2);
        &:hover{
           border: 1px solid hsl(var(--base-two));
        }
      }
      .testimonial__body{
        &::before {
          background-color: hsl(var(--base-two)/0.2);
        }
      }
    }
  }

  &__card {
    width: 100%;
    height: 100%;
    border-radius: var(--b-radius-16);
    background-color: hsl(var(--white));
    border: 1px solid hsl(var(--base)/ 0.07);
    padding: clamp(0.75rem, 0.547rem + 1.016vw, 1.563rem);
    transition: 0.3s;
    background-color: hsl(var(--base)/ 0.08);
    transition: 0.3s;

    &:hover {
      border: 1px solid hsl(var(--base));
      box-shadow: var(--box-shadow);
    }
  }

  &__body {
    position: relative;
    width: 100%;
    transition: 0.3s;
    padding: rem(24px);
    border-radius: var(--b-radius-12);
    z-index: 2;
    background: hsl(var(--white));

    &::before {
      content: '';
      position: absolute;
      right: 24px;
      bottom: 24px;
      background-color: hsl(var(--base)/0.2);
      mask-image: url('../images/testimonial/arrow.png');
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      mask-position: center;
      width: 44px;
      height: 44px;
      z-index: -1;

    }

  }

  &__top {
    display: flex;
    gap: 14px;
    align-items: center;
    border-top: 1px solid hsl(var(--white)/ 0.1);
    padding-bottom: clamp(0.75rem, 0.547rem + 1.016vw, 1.563rem);
  }

  &__thumb {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: 3px;
    font-weight: 500;
  }

  &__desc {
    font-size: 18px;
    margin-bottom: clamp(0.625rem, 0.531rem + 0.469vw, 1rem);
  }
}

/* ======================  Testimonial End  ======================*/