.promo-video {
  position: relative;
  width: 100%;
  border-radius: var(--b-radius-12);
  --icon-size: clamp(3.125rem, 2.656rem + 2.344vw, 5rem);
  transition: transform 0.6s ease;
  background-color: hsl(var(--base)/ 0.09);
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 860px;
    margin-inline: auto;
  }

  &__play-btn {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;
    background-color: hsl(var(--base-two));
    color: hsl(var(--white));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.75rem);
    cursor: pointer;
    box-shadow: 0 0 20px hsl(var(--base)/ 0.5);
    transition:  0.3s ease, 
    box-shadow 0.3s ease;
    margin-bottom: 24px;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 30px hsl(var(--base-two)/ 0.6);
      color: hsl(var(--white));
    }
  }
  &__title{
    margin-bottom: 10px;
  }
}