.promo-video {
  position: relative;
  width: 100%;
  border-radius: var(--b-radius-12);
  --icon-size: clamp(3.125rem, 2.656rem + 2.344vw, 5rem);
  transition: transform 0.6s ease;
  background-color: hsl(var(--base-l-900)/ 0.2);
  overflow: hidden;
  text-align: center;

  &::before {
    content: '';
    @include glove--base;
    left: -5%;
    top: 2%;
  }

  &::after {
    content: '';
    @include glove--base-two;
    right: -5%;
    top: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 860px;
    margin-inline: auto;
  }

  &__play-btn {
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;
    background-color: hsl(var(--base-two));
    color: hsl(var(--heading-color));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.75rem);
    cursor: pointer;
    transition: 0.3s ease,
    box-shadow 0.3s ease;
    margin-bottom: 24px;
    &::before{
      content: '';
      position: absolute;
      inset: -10px;
      border: 1px solid hsl(var(--base));
      border-radius: inherit;
    }
    

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 30px hsl(var(--base-two)/ 0.6);
      color: hsl(var(--white));
    }
  }

  &__title {
    margin-bottom: 12px;
  }
  .btn{
    margin-top: clamp(1rem, 0.75rem + 1.25vw, 2rem);
  }
}