/* ======================  Work-process Start  ======================*/
.work-process {
    position: relative;
    --card-gap: clamp(3.125rem, 2.031rem + 5.469vw, 7.5rem);
    --card-size: calc(100% / 3 - var(--card-gap));
    --indicator-size: clamp(2.188rem, 1.484rem + 3.516vw, 5rem);
    --icon-size: clamp(2.188rem, 1.859rem + 1.641vw, 3.5rem);

    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: var(--card-gap);
        height: 100%;

        @include md-screen {
            flex-direction: column;
        }
    }

    &__card {
        position: relative;
        width: var(--card-size);
        height: 100%;
        width: 100%;
        background-color: hsl(var(--base)/ 0.08);
        padding: clamp(0.75rem, 0.563rem + 0.938vw, 1.5rem);
        border-radius: rem(12px);

        &:nth-child(even) {
            background-color: hsl(var(--base-two)/ 0.15);
            .work-process__icon{
                background-color: hsl(var(--base-two)/ 0.25);
            }
        }

        &:nth-child(3n + 1),
        &:nth-child(3n + 2) {
            &::before {
                content: '';
                position: absolute;
                left: calc(100% + var(--card-gap)/ 2);
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: hsl(var(--base));
                mask-image: url('../images/work-process/indicator.png');
                mask-size: 100% 100%;
                mask-repeat: no-repeat;
                mask-position: center;
                width: var(--indicator-size);
                height: var(--indicator-size);

                @include md-screen {
                    top: calc(100% + var(--card-gap)/ 2);
                    left: 50%;
                }
            }
        }

    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-bottom: rem(12px);
    }

    &__count {
        font-size: clamp(1.875rem, 1.594rem + 1.406vw, 3rem);
        font-weight: 500;
        line-height: 1;
        color: hsl(var(--heading-color)/ 0.1);
        width: var(--count-size);
    }

    &__icon {
        width: var(--icon-size);
        height: var(--icon-size);
        display: grid;
        place-items: center;
        border-radius: var(--b-radius-12);
        background-color: hsl(var(--base)/ 0.1);
        img{
          max-width: clamp(1.25rem, 0.859rem + 1.953vw, 2.813rem);
        }

    }

    &__title {
        margin-bottom: rem(20px);
    }
}

/* ======================  Work-process End  ======================*/