/* ======================  Work-process Start  ======================*/
.work-process {
    position: relative;
    --card-gap: 150px;
    --card-size: calc(100% / 3 - var(--card-gap));
    .container {
        transition: all 0.6s ease;
    }
    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: var(--card-gap);
        @include md-screen {
            flex-direction: column;
        }
    }

    &__card {
        position: relative;
        height: 100%;
        width: var(--card-size);
        max-width: 450px;
        background-color: hsl(var(--base)/ 0.08);
        padding: 24px;
        border-radius: rem(12px);
    }

    &__count {
        font-size: clamp(1.875rem, 1.594rem + 1.406vw, 3rem);
        font-weight: 500;
        line-height: 1;
        color: transparent;
        -webkit-text-stroke: 2px hsl(var(--heading-color));
        margin-bottom: rem(28px);
        width: var(--count-size);
    }

    &__title {
        margin-bottom: rem(20px);
    }

    .work-process__indicator {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: calc(-50% - var(--card-gap) / 2);
        transform: translate(-50%, -50%);
        @include md-screen {
            transform: translate(-50%);
            top: auto;
            bottom: -35%;
            left: 50%;
        }
        svg{
            width: 80px;
            height: 80px;
            fill: none;
        }
        g{
            opacity: 0.3;
        }
    }
}
/* ======================  Work-process End  ======================*/